<%- model_class = TrainingClass -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <% if current_user %>
        <th>Register</th>
      <% end%>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @training_classes.each do |training_class| %>
      <tr>
        <td><%= link_to training_class.id, training_class_path(training_class) %></td>
        <td><%= training_class.name %></td>
        <td><%=l training_class.created_at %></td>
        <% if current_user %>
          <td>
            <% if @current_user_classes.include?(training_class)%>
              Registered
            <% else %>
              <%= link_to 'Register',
                      training_class_register_path(training_class), method: :post, :class => 'btn btn-primary btn-xs' %>
            <%end%>
          </td>
        <% end%>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_training_class_path(training_class), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      training_class_path(training_class),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_training_class_path,
            :class => 'btn btn-primary' %>
